.root-login{
    margin: 0 1em;
}

.text-login{
    color: #888;
}

.button-login{
    border: #666;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 0 1em;
    background-color: #aaa;
    color: #261006
}